:root {
  --text: #ffe8a3;
  --accent: #ffc000;
}

/* * {
  border: solid 1px white;
} */

body {
  display: flex;
  flex-direction: row;
  background-color: #141202;
  color: var(--text);
  font-family: sans-serif;
}

.code {
  font-family: monospace;
  color: var(--accent);
}
.instructions-list {
  padding-left: 0.5rem;
  list-style: none;
}

.instructions-list li {
  padding-left: 22px;
  text-indent: -22px;
  margin-bottom: 0.3rem;
}

input#fuzzy-box {
  /* margin-right: 1rem; */
  margin-left: 1rem;
}

input#fuzzy-box:checked + label {
  color: var(--accent);
}

#definition {
  width: 70vw;
  margin-bottom: 1rem;
  margin: 1rem;
}

#list-area {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

#word-input {
  font-size: 1.2rem;
  font-family: sans-serif;
  /* font-weight: bold; */
  padding: 0.4rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent);
  border: solid 2px black;
  border-radius: 10px;
  max-width: 17rem;
}
#word-input:focus {
  background-color: black;
  outline: solid 2px var(--accent);
  color: var(--accent);
}

.head-word {
  font-weight: bold;
}

.entry {
  border: solid 1px;
  padding: 1rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  cursor: default;
}

a:hover {
  text-decoration: underline;
  font-weight: 900 !important;
}

a.cross-ref {
  /* font-weight: 400; */
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: var(--text);
}

li p {
  margin: 0;
}

.item:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 975px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  #definition {
    width: auto;
  }

  #list-area {
    width: auto;
  }

  ul.results li {
    margin-bottom: 0.5rem;
  }

  dd {
    margin-left: 0px;
  }

  ol {
    padding-left: 1rem;
  }
  dt {
    margin-bottom: 1rem;
  }
}
